# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode9.1
language: swift
# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Example/FRadioPlayer.xcworkspace -scheme FRadioPlayer-Example -sdk iphonesimulator11.1 ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
